.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .user-info {
    margin-top: 2rem;
    text-align: center;

    p {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
.login-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-size: 1.2rem;
  color: red;
}
